@import './variables.scss';
@import './markdown.scss';

.artist-page {
  &_head {
    h1 {
      background: $yellow;
      color: $blue;
    }
    h2 {
      color: $yellow;
    }
    h3 {
      color: $cyan;
    }
    h1, h2, h3 {
      padding: .7rem .7rem 0 .7rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &_bio {
    background: $blue;
    padding: 1rem;
    @media (min-width: 768px) {
      padding: 2rem;
    }
    @include markdown;
  } 
  &_footer, &_events {
    a {
      display: inline-block;
      font-family: "Sporting Grotesque_Bold";
      background: $yellow;
      color: $red;
      text-decoration: underline;
      margin-top: .5rem;
      padding: 1rem;
      transition: transform 150ms ease-out, background 150ms ease-out;
      &:hover,
      &:active,
      &:focus {
        background: $blue;
        color: $yellow;
        transform: rotate(0deg) !important;
        .artist_event_type {
          color: $cyan;
        }
      }
      &:not(:last-child) {
        margin-right: .5rem;
      }
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          transform-origin: 50% 50%;
          transform: rotateZ( random(10) - 5 + deg ) translateX( random(10) - 5 + px ) translateY( random(10) - 5 + px );
        }
      }
      z-index: 50;
      &:hover {
        z-index: 100;
      }
    }
    .badge {
      font-family: "Sporting Grotesque_Bold";
      font-size: 1.5rem;
      background: #0FF;
      color: #F00;
      padding: 1rem;
      text-transform: uppercase;
      vertical-align: middle;
      border-radius: 0;
      transition: transform 150ms ease-out;
      transform-origin: 50% 50%;
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          transform: rotateZ( random(10) - 5 + deg ) translateX( random(10) - 5 + px ) translateY( random(10) - 5 + px );
        }
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  #webmaster-badge {
    span {
      display: inline-block;
      @for $i from 1 through 9 {
        &:nth-of-type(#{$i}) {
          animation: bob-y 1.5s #{$i * 1/9}s ease-in-out infinite;
        }
      }
    }
  }
  &_events {
    h1 {
      color: $yellow;
    }
    a {
      display: flex;
      align-items: center;
      img {
        aspect-ratio: 1;
        object-fit: cover;
        margin-right: 1rem;
      }
    }
    .artist-page_event_type {
      color: $blue;
    }
    a:hover {
      .artist-page_event_type {
        color: $cyan;
      }
    }
  }
  .event__share-button {
    transform: rotate(3deg);
  }
}
