@import './variables.scss';

.media {
  width: 100%;
  &__thumbnail_wrapper {
    display: block;
    cursor: pointer;
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
      background-color: $yellow;
      content: "";
      display: block;
      padding-top: 100%;
    }
    &:hover,
    &:focus {
      outline: none;
      .media__thumbnail {
        transform: scale(1.2);
      }
    }
  }
  &__thumbnail {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 150ms ease-in-out;
    will-change: transform;
  }
  &__links_wrap {
    margin: 3rem 0;
    text-align: center;
    align-self: center;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;
      z-index: -1;
      transform: rotate(-3deg);
      transition: background-color 200ms ease, transform 200ms ease;
    }
    &:hover::before {
      background-color: #ff0;
      transform: rotate(2deg) translate3d(5px, 5px, 0);
    }
    &::after {
      content: "";
      position: absolute;
      top: -15%;
      left: 0;
      width: 100%;
      height: 130%;
      background-image: url('/contact-yellow.svg#svgView(preserveAspectRatio(none))');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      z-index: -2;
      transform: rotate(7deg);
      transition: transform 200ms ease;
    }
    &:hover::after {
      background-image: url('/contact.svg#svgView(preserveAspectRatio(none))');
      transform: rotate(-3deg) translate3d(-1px, -3px, 0);
    }

    .btn {
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      font-family: "Sporting Grotesque_Bold";
      z-index: 1;
      padding: 1rem 2rem;
      color: #ff0;
      &:hover {
        background-color: transparent;
        color: #f00;
      }
      &:active {
        background-color: transparent !important;
        animation: activity 50ms infinite alternate linear;
      }
    }
  }
}
