@import './variables.scss';
@import './markdown.scss';

html {
  scroll-behavior: smooth;
}

.main_wrap {
  overflow-x: hidden;
}

body {
  background: $red;
}
* {
  &::selection {
    background-color: rgba(0, 0, 0, 0.5);
    color: $cyan;
  }
}

h1,
h2,
h4,
h5 {
  font-family: "Sporting Grotesque_Bold", sans-serif;
}

h3 {
  font-family: "Sporting Grotesque_Regular", sans-serif;
}

.logo {
  &__sub {
    text-align: center;
  }
  &__wrap {
    z-index: 101;
    width: 100%;
    min-height: 100vh;
    perspective: 100px;
    transform-style: preserve-3d;
    &--slim {
      min-height: unset;
    }
    display: grid;
    grid-template-rows: auto 5rem 5rem;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    padding-top: 2.5rem;
    position: relative;

    &::before {
      font-size: 0;
      z-index: -3;
      content: " ";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(transparent, red);
    }
    &::after {
      font-size: 0;
      z-index: -4;
      content: " ";
      position: absolute;
      top: -15px;
      left: 0px;
      width: 100%;
      height: calc(100% + 15px);
      background-color: #FF0000;
      background-image: url('/squiggles.svg');
      background-position: center;
      background-attachment: fixed;
      background-repeat: repeat;
      background-size: 130px;
    }
    &--inner {
      display: inline-block;
      padding: 5rem 2rem 3rem calc(2rem + 15px);
      position: relative;
      transform: rotate3d(.3, .7, 0, 2deg) translate3d(20px, 0, 0);
      transform-style: preserve-3d;
      .home {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        transform: translateZ(8px);
      }

      &::after {
        font-size: 0;
        z-index: -2;
        content: " ";
        position: absolute;
        top: 0px;
        left: -40px;
        width: 100%;
        height: 100%;
        background-image: url('/pattern1.webp');
        background-size: cover;
        transform: rotate3d(0, 0, 1, -15deg) translate3d(0, 0, -1px);
      }

      &::before {
        font-size: 0;
        z-index: -1;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 20px);
        height: 100%;
        background-color: #FFFF00;
        transform: rotate3d(0, 0, 1, 3deg);
        box-shadow: 0 60px 100px -50px rgba(0, 0, 0, 0.7);
      }
    }
  }
  &__main {
    background-image: url('/bopp-kogn-break.svg');
    transform: rotate3d(0, 0, 1, 3deg) translate3d(0, 0, 5px);
    @media (min-width: 445px) {
      background-image: url('/bopp-kogn-inline.svg');
    }
    background-size: contain;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 5rem;
    @media (min-width: 678px) {
      font-size: 7rem;
    }
    font-family: sans-serif;
  }

  &__sub {
    color: $blue;
    margin-top: 2.5rem;
    transform: rotate3d(.3, 0, .7, 3.5deg) translate3d(0, 0, 5px);
  }

  &__social {
    font-size: 3rem;
    z-index: 100;
    a {
      color: #ff0;
      .ion__svg {
        transition: transform 150ms ease-in-out;
      }
    }
    a:hover,
    a:focus {
      .ion__svg {
        animation: strobe 120ms infinite;
        transform: rotate(-15deg) scale(1.2);
      }
    }
  }

  &__cta {
    text-transform: uppercase;
    a {
      color: #FFFF00;
      display: inline-block;
      h2 {
        display: inline;
      }
      .ion__svg {
        text-decoration: none;
        animation: bob-y 1s ease-in-out infinite;
      }
    }
    a:hover,
    a:focus {
      animation: strobe 120ms infinite;
    }
  }
}

@keyframes strobe {
  0% { color: #FFFF00; }
  100% { color: #00FFFF; }
}

@keyframes bob-y {
  0% { transform: translate3D(0, 0, 5px); }
  50% { transform: translate3D(0, 10px, 5px); }
  100% { transform: translate3D(0, 0, 5px); }
}
@keyframes spin {
  0% { transform: rotate3D(0, 1, 0, 0); }
  100% { transform: rotate3D(0, 1, 0, 360deg); }
}

.artist {
  display: block;
  position: relative;
  margin-bottom: 2rem;
  text-decoration: none !important;
  &:hover,
  &:focus {
    outline: none;
    .artist__wrap--inner {
      &:before,
      &:before {
        width: 100%;
      }
      .artist__image {
        transform: scale(1.2);
      }
    }
    .artist__title {
      color: #f00;
    }
    .artist__role {
      color: $blue;
    }
    .artist__from {
      color: $blue;
    }
  }

  &__wrap--inner {
    position: relative;
    background-color: $red;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: yellow;
      transition: width 200ms ease;
      z-index: -1;
    }
  }

  &__image_wrap {
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;
    max-height: 100%;
    margin-bottom: 1rem;
  }
  &__image {
    position: absolute;
    object-fit: cover;
    width: 100%; height: 100%;
    transition: opacity 150ms ease-out, transform 200ms ease-in-out;
    will-change: opacity, transform;
  }
  &__info {
    padding: 0 1rem;
    transition: color 200ms ease;
  }
  &__title {
    text-transform: uppercase;
    font-family: "Sporting Grotesque_Bold";
    color: $blue;
    word-break: break-all;
    min-height: 6.5rem;
    :hover > & {
      color: $red;
    }
  }
  &__role {
    color: $yellow;
    :hover > & {
      color: $blue;
    }
  }
  &__from {
    font-family: "Sporting Grotesque_Regular";
    color: $cyan;
    :hover > & {
      color: #blue;
    }
  }
}

.contact {
  &_container {
    background-color: yellow;
    z-index: 0;
    position: relative;
  }
  &_text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Sporting Grotesque_Bold";
    color: $blue;
    hyphens: auto;
  }
  &_button_container {
    display: inline-grid;
    position: relative;
    margin: 2rem 0 6rem 0;
    perspective: 1000;
    .btn {
      font-family: "Sporting Grotesque_Bold";
      text-transform: uppercase;
      border-radius: unset;
      background-color: transparent;
      color: $yellow;
      border: none;
      padding: 1.75rem 2.5rem;
      font-size: 2rem;
      @media (min-width: 472px) {
        font-size: 3rem;
      }
      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -6px;
        left: 0;
        content: "";
        transform: translate3d(0,0,-1px) rotate(-3deg);
        background-color: $blue;
        z-index: -1;
        transition: background-color 200ms ease, transform 200ms ease;
      }
      &::before {
        position: absolute;
        width: 90%;
        height: 140%;
        top: 6px;
        left: 0;
        content: "";
        transform: translate3d(5%, -10%, -2px) rotate(5deg);
        z-index: -1;
        background-image: url('/contact.svg#svgView(preserveAspectRatio(none))');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        transition: transform 200ms ease;
      }
      &:hover, &:focus {
        background-color: transparent;
        color: #f00;
        &::after {
          background-color: $blue;
          transform: translate3d(-5px,-5px,-1px) rotate(-3deg);
        }
        &::before {
          background-image: url('/contact-red.svg#svgView(preserveAspectRatio(none))');
          transform: translate3d(6%, -9%, -2px) rotate(5deg);
        }
      }
      &:active {
        background-color: transparent !important;
        animation: contact-activity 50ms infinite alternate linear;
      }
    }
  }
}



@keyframes contact-activity {
  0% { color: #ff0; }
  100% { color: #f00; }
}

.event {
  padding-top: 50px;
  z-index: 1;
  position: relative;
  &__info {
    color: $yellow;
    display: grid;
  }
  &__title,
  &__venue {
    color: $blue;
  }
  &__type {
    white-space: nowrap;
  }
  &__date,
  &__time {
    font-size: 3.5rem;
    color: #f00;
    text-shadow:
    -1.5px -1.5px 0 #009,
    1.5px -1.5px 0 #009,
    -1.5px  1.5px 0 #009,
    1.5px  1.5px 0 #009;
  }
  &__share-button {
    background: $blue;
    border-radius: 0px;
    border: solid .5rem red;
    color: $yellow;
    padding: 1rem;
    display: inline-block;
    font-family: "Sporting Grotesque_Bold";
    text-transform: uppercase;
    .ion {
      vertical-align: middle;
    }
    &:hover,
    &:active {
      background: $yellow !important;
      animation: activity 120ms infinite;
    }
  }
  &__venue {
    a {
      color: $blue;
      text-decoration: underline;
      display: inline-block;
    }
    a:hover {
      transform: translate(0, 5px);
      animation: activity 50ms infinite alternate linear;
    }
  }
  &__description {
    align-self: center;
    @include markdown;
  }
  &__media {
    &_header {
      color: $cyan;
    }
  }
  &__lineup_header {
    color: $cyan;
  }
  &__address_links_wrap {
    display: grid;
    align-content: start;
    justify-items: center;
    &::before {
      content: " ";
      position: absolute;
      z-index: -2;
      width: 63%;
      height: 63%;
      left: -100%;
      top: 25%;
      background-image: linear-gradient(transparent, red), linear-gradient(red, transparent), url(/pattern2.webp);
      // background-attachment: fixed, fixed, fixed;
      background-size: 100% 55%, 100% 55%, 100% 150%;
      background-position: bottom center, top center, 100% 100%;
      background-repeat: no-repeat, no-repeat, repeat;
      transform-origin: center;
      transform: rotate3d(0, 0, 1, -100deg);
    }
  }
  &__links_wrap {
    margin: 3rem 0;
    text-align: center;
    align-self: center;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;
      z-index: -1;
      transform: rotate(-3deg);
      transition: background-color 200ms ease, transform 200ms ease;
    }
    &:hover::before {
      background-color: #ff0;
      transform: rotate(-3deg) translate3d(5px, 5px, 0);
    }
    &::after {
      content: "";
      position: absolute;
      top: -15%;
      left: -15%;
      width: 130%;
      height: 130%;
      background-image: url('/contact-yellow.svg#svgView(preserveAspectRatio(none))');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      z-index: -2;
      transform: rotate(-7deg);
      transition: transform 200ms ease;
    }
    &:hover::after {
      background-image: url('/contact.svg#svgView(preserveAspectRatio(none))');
      transform: rotate(-3deg) translate3d(-1px, -3px, 0);
    }

    .btn {
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      font-family: "Sporting Grotesque_Bold";
      z-index: 1;
      padding: 1rem 2rem;
      color: $yellow;
      &:hover {
	background-color: transparent;
	color: $red;
      }
      &:active {
	background-color: transparent !important;
	animation: activity 50ms infinite alternate linear;
      }
    }
  }
}

@keyframes activity {
  0% { color: $blue; border-color: $red; }
  100% { color: $red; border-color: $yellow; }
}

.event__info--pattern {
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 3rem;
  z-index: 0;
  &::after {
    font-size: 0;
    z-index: -10;
    content: " ";
    position: absolute;
    top: 0px;
    left: -40px;
    width: 100%;
    height: 100%;
    background-image: url('/pattern2.webp');
    background-size: cover;
    transform: rotate(15deg) translateZ(-3px);
  }

  &::before {
    font-size: 0;
    z-index: -1;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    box-shadow: 0 60px 100px -50px rgba(0,0,0,.7);
    transform: rotate(3deg);
  }
}

.team {
  z-index: 1;
}

.partners--container {
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
  z-index: 1;
  h1 {
    color: $cyan;
  }

  .container {
    position: relative;
  }

  .container::after {
    content: " ";
    position: absolute;
    top: 0;
    left: -5px;
    width: 3px;
    height: 100%;
    background-color: #ff0;
  }

  .partners {
    position: relative;
  }

  .partner {
    position: relative;
    height: 150px;
    z-index: 0;
    &::after {
      content: " ";
      padding-top: 100%;
      background-color: yellow;
    }
  }

  .partner_image {
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    object-fit: contain;
    color: transparent;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, .7));
    transition: filter 150ms ease-out 600ms;
  }

  .partner_image_wrap {
    width: 100%;
    height: 100%;
    filter: saturate(0);
    transition: filter 200ms ease 200ms;
    perspective: 1000;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transform: translate3d(0,0,-10px) rotate(-7deg);
      transition: opacity 200ms ease 0ms;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $blue;
      opacity: 0;
      transform: translate3d(0,0,-2px);
      transition: opacity 100ms ease 0ms, transform 0ms 200ms;
      z-index: -1;
    }
    &:hover {
      filter: saturate(1);
      transition: filter 200ms ease;
      .partner_image {
        filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, .7));
        transition: filter 150ms ease-out;
      }
    }
    &:hover::before {
      background: url('/pattern1.webp');
      background-size: cover;
      transform: translate3d(0,0,-3px) rotate(-15deg);
      opacity: 1;
      transition: opacity 200ms ease 600ms, transform 200ms ease 600ms;
    }
    &:hover::after {
      transform: translate3d(0,0,-1px) rotate(-7deg);
      background-color: $blue;
      opacity: 1;
      transition: opacity 200ms ease 300ms, transform 200ms ease 400ms;
    }
  }
}

.color-picker {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .color {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
  }
}

.img-hidden {
  opacity: 0;
}

.about {
  &--container {
    z-index: 1;
  }
  &__header {
    color: $cyan;
  }
  position: relative;
  &__abstract { 
    margin-bottom: 30px;
    &--content {
      background: $blue;
      color: $yellow;
      font-family: "Sporting Grotesque_Regular";
      line-height: 1.75;
      hyphens: auto;
      padding: 15px;
      a {
        text-decoration: underline;
      }
      a, b,
      &__highlight {
        background: #FF0;
        color: $blue;
        padding: 0 .5rem;
        &:hover {
          animation: activity 120ms infinite;
        }
      }
      @media (min-width: 576px) {
        padding: 30px;
      }
      @media (min-width: 768px) {
        padding: 15px;
        font-size: 1.2rem;
      }
      @media (min-width: 992px) {
        padding: 30px;
      }
    }
  }
  &__translation {
    background: #FF0;
    color: $blue;
    will-change: color;
    padding: 0 .5rem;
    white-space: nowrap;
    position: relative;
    cursor: default;
    text-align: left;
    &:not(:first-child),
    &:not(:last-child) {
      margin: 2px;
    }
    display: inline-block;
    &--language {
      background-color: #F00;
      padding: 0 .5rem;
      display: inline-block;
      transform: translate(-50%, 0);
      height: calc( 100% + 2px );
      padding-top: 3px;
      &__wrap {
        visibility: hidden;
        will-change: visibility;
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        height: calc( 100% + 2px );
        z-index: 10;
      }
    }
    &:hover {
      background: #F00;
      animation: translation 120ms infinite;
      .about__translation--language {
        &__wrap {
          visibility: unset;
        }
      }
    }
  }
}
@keyframes translation {
  0% {
    color: #FF0;
  }
  100% {
    color: #0F0;
  }
}

#modal_credits___BV_modal_backdrop_,
#modal_share___BV_modal_backdrop_ {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 250ms ease-out;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(20px) contrast(2);
}

.btn.main-back-btn {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #FFFF00;
  color: #F00;
  border: solid 5px red;
  border-radius: 0;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
  &:hover, &:active:not(:disabled) {
    animation: strobe 250ms infinite;
    background-color: #00F;
  }
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
