@mixin markdown {
  font-family: "Sporting Grotesque_Regular";
  color: #ff0;
  line-height: 1.5;
  hyphens: auto;
  @media (min-width: --breakpoint-md) {
    font-size: 1.2rem;
  }
  strong, a {
    color: $blue;
    padding: 0 0.5rem;
    background-color: #ff0;
    font-family: "Sporting Grotesque_Bold";
    hyphens: none;
  }
  a {
    text-decoration: underline;
    &:hover {
      animation: activity 50ms infinite alternate linear;
    }
    &::before {
      content: '↗ ';
    }
  }
  table {
    th, td {
      padding: .5rem;
    }
  }
}
